<h1> Edit Items </h1>
<h2> Please Choose A Category </h2>
<% @categories.each do |c| %>
  <p>
  <h3><%= link_to c.name, admin_category_path(c) %></h3>
  </p>

<% end %>

<%= link_to "Create", new_admin_item_path %>
