<h1>Food Items</h1>
<%= flash[:notice] %>

<% @items.each do |item| %>
  <p>
    <h3><%= link_to item.name, edit_admin_item_path(item) %></h3>
  </p>

<% end %>

<%= link_to "Create", new_admin_item_path %>
