
<h1 id='dashboard_heading'></h1>
<h3>
<ul id=dashboard>
  <li><%= link_to 'Create a new Dish', new_admin_item_path %></li>
  </br>
  </br>
  <li><%= link_to 'Create a new food Category', new_admin_category_path %></li>
  </br>
  </br>
  <li><%= link_to 'Edit Food Items and Categories', admin_categories_path %></li>

</ul>
</h3>
