<div class="col-md-16 col-md-16">
	<div class="store-header">
		<div class="store-name">
      <h2> <%= @store.name.capitalize %> </h2>
    </div>
   	<div class="thumbnail">
  	<!-- store picture -->
  	</div>
	</div>
  <div class="store-description">
  	<%= @store.description %>
 	</div>
 	<div class="store-items">
 		<% @store.items.each do |item| %>
 			<%= item.name %>
 		<% end %>
 	</div>
</div>
