<h1>Contact Us</h1>

<%= form_tag "submit", :id => "my_form" do -%>
<%= email_field_tag :email, "wortham.aaron@yahoo.com", class: "yeah" %>
Comment: <%= text_area_tag "comment", :rows => 4, :cols => 50 %>
<%= submit_tag "Submit" %>
<% end -%>
