<h1>Who we are</h1>

<p id='intro'>
Here at Mountain Top Cafe we are commited to doing things with the same passion and commitment it takes to survive climbing the     biggest mountains in the world. Our founders have combined to climb all of the highest mountains on every continent on earth. We bring this same passion to table each day allowing us to provide you with world class cuisine and unmatched service from the time  you walk in the door to the time you embark on your next outdoors adventure!
</p>
