<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
    <body>
      <h1>Congratulations, Your Dope Store Has Been Approved! </h1>
      <p>
        Dear <%= @user.full_name %> <br>
        Log on to your account now and finish setting up your store!
      </p>
  </body>
</html>
