<h1>Click a Category to Edit or click Create</h1>

<%= link_to 'Create New Category', new_admin_category_path %>

<% @categories.each do |c| %>

  <p id='listings'>
  <h3><%= link_to c.name, edit_admin_category_path(c) %></h3>
  </p>

<% end %>
