<h1>More About Us</h1>

<p>
The tradtion of mountain climbing and exploring begins long ago. We like to follow in the footsteps of great men such as Zebulon Pike, Edward Whymper and Edmund Hillary. Explorers such as these paved the way for later explorers and ultimately for you and me to continue exploring the vast expanses of wilderness left on earth.
</p>

<h3>Our Team</h3>

Three of todays greatest mountaineers have teamed to give you the greatest Mountain Top experience imaginable. Their combined passion for all things outdoors has resulted in countless hours on and off the trail and many mountains climbed. But one thing we all agree on is that a mountain is never conquered. You may survive the climb and you may reach the summit, but a mountain is always there presenting the challenge and calling for your best.

<h3>Glen Egbert</h3>
<p>
  Glen has been climbing for over 20 years. He single handedly climbed over 30 of the Colorado's 14ers, before branching out to the the international stage. Since his wife is from Europe, it made sense to start there and he has climbed some of the world's toughest mountains including K2 and Matterhorn.
</p>
<h3>Kavita</h3>
<p>
  Kavita hails from the great Northwest region of the United States and grew up climbing many of the Canadian Rockies. Kavita inherited much of her passion for the outdoors from her father who is an avid outdoorsman. Her greatest mountaineering accomplishments include summiting Mount Kilimanjaro and Mount Kosciuszko.
</p>
<h3>Aaron Wortham</h3>
<p>
  Aaron has a passion for going places that many people would never dream of going. He has summited 26 of Colorado's 14ers, Mount Rainer in Washington, Mont Blanc in France, and last year accomplished his lifelong dream of summiting Mount McKinley in Alaska. Next on the agenda: Vinson Massif in Antarctica.
</p>
