//Login Form Nav Bar //


#create_store_item_btn{
  float: right;
  margin-top: 16px;
}


#container > a.left.carousel-control{
  height: 553px;
}

#container > a.right.carousel-control{
  height: 553px;
}

#Featured-Products{
  text-align: center;
  font-weight: 600;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 4px #FFFFFF;
  font-size: 40px;
}


#navbar-left > li.dropdown.open > ul{
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 1%, rgba(0,0,0,0.86) 40%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,1)), color-stop(40%,rgba(0,0,0,0.86)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.86) 40%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.86) 40%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.86) 40%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.86) 40%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  border: solid 1px rgb(255, 254, 255);
}

#navbar-login-form > div > ul{
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 1%, rgba(0,0,0,0.86) 40%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,1)), color-stop(40%,rgba(0,0,0,0.86)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.86) 40%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.86) 40%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.86) 40%,rgba(0,0,0,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.86) 40%,rgba(0,0,0,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
color: white;
border: solid 1px rgb(255, 254, 255);

}


#navbar-left > li.dropdown.open > ul > li > a{
  color: white;
}


#login-form{
  display: flex;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: red;
}


//Masonry Grid Styling//
#masonry-container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.grid-sizer { width: 20%; }

@media screen and (min-width: 720px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 10%; }
}

.grid-item {
  text-align: center;
  width: 25%;
  margin: 20px;
  padding: 20px;
  border: solid;
  border-width: 3px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: #545454;
  min-height: 400px;
}

.grid-item.on {
  display: initial;
}

.grid-item .item-description {
  width: 100%;
  height: 50px;
}

.grid-item:hover {
  opacity: 1 !important;
}

.not_active {
  background-color: #eed3d7 !important;
}

.grid-item img {
  max-width: 100%;

}

#container{
  padding-top: 50px;
}

#new-user-container {
  padding-top: 53px;
  width:40%;
  margin:auto;
}

#new-charge-container {
  padding-top: 53px;
  text-align:center;
  margin:auto;
}

#new-address-container {
  padding-top: 53px;
  width:20%;
  margin:auto;
}

#new-order-container {
  padding-top: 53px;
  width:40%;
  margin:auto;
}

#cart-container {
  padding-top: 53px;
  width:70%;
  margin:auto;
}

#cart-container a {
  color:black;
}

#confirmation_message {
  width:95%;
  margin:auto;
  text-align: center;
}

#item-show-page{
  width: 70%;
  background-color: white;
  margin: auto;
  background-color: #FAFAFA;

  .labels {
    min-width: 100px;
    color: black;
  }

  .thumbnail{
   height: 390px;
   width: 100%;
   background-color: #FAFAFA;
   height: 100%;


  }


  .show_img{
    width: 80%;
    height: 400px;
    margin-left: 15%;
    margin-top: 120px;
    margin-bottom: 30px;
  }

  .caption{
    width: 40%;
  }

  .item-description{
    width: 90%;
    margin: auto;
  }
}

#add-to-cart-box{
  margin-top: 150px;
  padding-bottom: 10px;
  border: 5px solid #E4F3D9;
}

.carousel {
  height: 502px;
  margin-bottom: 0px;
  border-bottom: solid 1px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
}



/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

#myCarousel > div > div.item.active > img{
}

#myCarousel{
  height: 503px;
  margin-bottom: 0px;
  border-bottom: ridge 1px black;
}

#navbar{
  background-image: url('../assets/pattern3.jpg');
  border-top: solid 3px black;
  background-position: 30% 73%;
  -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 23px;
  text-shadow: 2px 4px #C12D2D;
}

#navbar-left{
  color: white;
}

#cart_btn{
  margin-top: 12px;
  padding-left: 10px;
  padding-top: 3;
  padding-bottom: 3;
}

#signin-button{
  padding-top: 3;
  padding-bottom: 3;
}

#cart_button {
  margin-top: 10px;
}

#cart-form {
  display:inline;
}


#brand-name{
  padding-right: 5px;
  margin-right: 18px;
  font-weight: 600;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 4px #DFD459;
}

#brand-name > a {
  color: white;
  font-size: 30px;
  color: white;
}

#navbar-login-form{
  display: flex;
}

#navbar-login-form{
  display: flex;
}

.store-header {
  background-color:#D4D4D0;
  width: 100%;
  border-bottom: 1px solid gray;
  padding-top:5px;
  height: 100px;
}

.store-header-image {
  float:left;
  float:top;
  width: 150px;
  margin-left: 10px;

}

.store-header-image img {
  height: 100px;
  width: 150px;
  padding-bottom:10px;
}

.store-name {
  padding-top: 10px;
  text-align: center;
}

.store-description {
  margin:auto;
  padding-top: 10px;
  width:75%;
  text-align: center;
  color: black;
}

.store-items-container {
  width:75%;
  margin:auto;
  padding: 10px;
}

.store-item {
  text-align:center;
  width:250px;
  height:300px;
  border-radius:10px;
  border:1px solid gray;
  display:inline-block;
}

.store-item img {
  width:200px;
  height:200px;
}

.labels {
  min-width: 100px;
}

.order-buttons form {
  float: left;
  margin-right: 1em;

}

.login_form{
  padding-top: 12px;
}

.tg  {
     width: 100%;
     border-collapse:collapse;
     border-spacing:0;
     border-color:#999;
     border-width:1px;
     border-style:solid;

     a{
       color: blue;
     }
     td{
       font-family:Arial,sans-serif;
       font-size:14px;
       padding:5px 19px;
       border-style:solid;
       border-width:0px;
       overflow:hidden;
       word-break:normal;
       border-color:#999;
       color:#444;
       background-color:#F7FDFA ;
       }

     th{
       font-family:Arial, sans-serif;
       font-size:14px;
       font-weight:normal;
       padding:19px 19px;
       border-style:solid;
       border-width:0px;
       overflow:hidden;
       word-break:normal;
       border-color:#999;
       color:#fff;
       background-color:#428bca ;
       }

     .tg-0ord{
       text-align:right;
       }

     .tg-e3zv{
       font-weight:bold;
       }

     .tg .tg-34fq{
       font-weight:bold;
       text-align:right;
       }

     .tg-031e{
       text-align:left;

     }
}

.select {
  color: black;
}

.flashes {
 color: white;
 // border-radius: 4px;
 // padding: 10px;
 margin: 0;
 text-align: center;
 text-transform: uppercase;
 box-shadow: #ffc 0 0 4px;
}

#font {
 color: white;
}
#main-background{
width: 800px;
margin: auto;
padding-bottom: 20px;
border-radius: 25px;
 background:#7f7f7f ;
 background:rgba(0,0,0,0.5);


#mainContent{
 color: white;
 text-align: left;
 width: 600px;
 font-family: sans-serif;
 margin: auto;
 padding-top: 200px;

 h1 {
   text-align: center;
   font-size: 45px;
 }
 input[type="text"], input[type="submit"], input[type="number"], input[type="password"], textarea {
   background: #d1d1d1 ;
   color: #000000 ;
 }

 img {
   margin-left: 20px;
   margin-top: 20px;
   border-radius: 25px;
 }
}
}
img {

 #cart_image {
   right: right;
 }

}
#checkout_table2 {
 border: 5px solid black;
 width: 90%;
 color: white;
 tr td {
   border: 5px solid black;
 }
}

body {
 display: compact;
 color: white;
}
#background {
   width: 100%;
   height: 100%;
   position: fixed;
   left: 0px;
   top: 0px;
   z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
   width:100%;
   height:100%;
}

#font {
 color: white;
}

.thumbnail{
 .image-limiter {
    max-height: 300px;
 }
 width: 100%;
 max-height: 276px;

 a > image {
   max-height: 276px;
 }

.menu_cart_img {
 margin-left: 20px;
 margin-top: 10px;
 border-radius: 25px;
 margin-bottom: -2px;
 width: 80%;
 height: 160px;
}

.btn {
 color: white;
 background-color: green;
}

.caption {
 min-height: 183px;
 overflow: none;
 max-height: 184px;
 // border: 5px solid black;
}

.item_description {
 // height: 4.0em;
 overflow: none;
 max-height: 95px;
 min-height: 41px;
 }

}

#menuContent {
 padding-top: 150px;
 width: 90%;
 margin: auto;

}


#main-header {
 position: fixed;
 width: 100%;
 z-index: 2;

}

.contact-us-form {
 margin-top: 40px;
 width: 450px;
 margin: auto;


}

.contact-us-form-line {
 margin-top: 10px;
 text-align: center;
 input {
   background-color : #d1d1d1 ;
   color: black;
   text-align: left;
   margin-left: 10px;
   font-size: 20px;
   width: 275px;
 }
 label {
   font-size: 20px;
   min-width: 125px;
   vertical-align: top;
 }

 #form-message {
   width: 275px;
   height: 100px;
   margin-left: 10px;
 }
}

#form-message-btn {
 width: 15%;
 margin: auto;
 border: 1px solid black;
}

#checkout_page {
 color: white;
}


#item_status {
 color: black;
}

.field_with_errors {
 padding: 1px;
 background-color: red;
 display: table;
}

#checkout-cart-header {
  text-align: left !important;
}

#pickup_btn {
  display: inline;
  margin-right: 50px;
}
.pickup-delivery-button {
  display: inline;
}

#confirmation-options {
  width:95%;
  margin:auto;
  text-align: center;
  margin-bottom: 150px;
}



#new_address {
  width:95%;
  margin:auto;
}

#addresses {
  background-color: #D8D8D8;
  color: black;
  width: 25%;
  margin: 100px 15px;
  padding:15px;
  border-radius: 15px;
  display: inline;

}

.address_buttons{
  margin: 15px;
  font-size: 20px;
  min-height: 50px;
}


#store-name{
margin-right: 157px;
}

#email_order_box{
  border-top: 1px solid black;
}

#users-form {
  width: 40%;
  margin: auto;
}

.centered {
  width:40%;
  margin: auto;
}
#menu_item_pics {
  max-height: 276;
}
