#header {
  background-color: #66A266;
  text-align: center;
  h1 {
    font-size: 40px;
    color: darken(#66A266, 30%);
    font-family: sans-serif;
    text-shadow:
      2px 2px 2px white;
  }
  h3 {
    font-style: italic;
  }
}
