#container{
  padding-top: 53px;
}

#cart-container {
  padding-top: 53px;
  width:70%;
  margin:auto;
}

#cart-container a {
  color:black;
}

#confirmation_message {
  width:95%;
  margin:auto;
  text-align: center;
}

#item-show-page{
  width: 70%;
  background-color: white;
  margin: auto;
  background-color: #FAFAFA;

  .labels {
    min-width: 100px;
    color: black;
  }

  .thumbnail{
   height: 390px;
   width: 100%;
   background-color: #FAFAFA;
   height: 100%
  }

  .show_img{
    width: 80%;
    height: 400px;
    margin-left: 15%;
    margin-top: 120px;
    margin-bottom: 30px;
  }

  .caption{
    width: 40%;
  }

  .item-description{
    width: 90%;
    margin: auto;
  }
}

#add-to-cart-box{
  margin-top: 150px;
  padding-bottom: 10px;
  border: 5px solid #E4F3D9;
}

.carousel {
  padding-top: 50px;
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

#myCarousel{
  height: 600px;
}

#navbar{
  background-color: white;
}

#navbar-left{
  background-color: white;
}

#cart_btn{
  padding-top: 10px;
  padding-left: 10px;
}


#brand-name{
  padding-right: 5px;
  margin-right: 18px;
}

#navbar-login-form{
  display: flex;
}

#navbar-login-form{
  display: flex;
}

.store-header {
  background-color:#D4D4D0;
  width: 100%;
  border-bottom: 1px solid gray;
  padding-top:5px;
  height: 100px;
}

.store-header-image {
  float:left;
  float:top;
  width: 150px;
  margin-left: 10px;

}

.store-header-image img {
  height: 100px;
  width: 150px;
  padding-bottom:10px;
}

.store-name {
  padding-top: 10px;
  text-align: center;
}

.store-description {
  margin:auto;
  padding-top: 10px;
  width:75%;
  text-align: center;
  color: black;
}

.store-items-container {
  width:75%;
  margin:auto;
  padding: 10px;
}

.store-item {
  text-align:center;
  width:250px;
  height:300px;
  border-radius:10px;
  border:1px solid gray;
  display:inline-block;
}

.store-item img {
  width:200px;
  height:200px;
}

.labels {
  min-width: 100px;
}

.order-buttons form {
  float: left;
  margin-right: 1em;

}

.login_form{
  padding-top: 12px;
}

.tg  {
     width: 100%;
     border-collapse:collapse;
     border-spacing:0;
     border-color:#999;
     border-width:1px;
     border-style:solid;

     a{
       color: white;
     }
     td{
       font-family:Arial,sans-serif;
       font-size:14px;
       padding:5px 19px;
       border-style:solid;
       border-width:0px;
       overflow:hidden;
       word-break:normal;
       border-color:#999;
       color:#444;
       background-color:#F7FDFA ;
       }

     th{
       font-family:Arial, sans-serif;
       font-size:14px;
       font-weight:normal;
       padding:19px 19px;
       border-style:solid;
       border-width:0px;
       overflow:hidden;
       word-break:normal;
       border-color:#999;
       color:#fff;
       background-color:#428bca ;
       }

     .tg-0ord{
       text-align:right;
       }

     .tg-e3zv{
       font-weight:bold;
       }

     .tg .tg-34fq{
       font-weight:bold;
       text-align:right;
       }

     .tg-031e{
       text-align:left;

     }
}

.select {
  color: black;
}

.flashes {
 color: blue;
 // border-radius: 4px;
 // padding: 10px;
 margin: 0;
 text-align: center;
 text-transform: uppercase;
 box-shadow: #ffc 0 0 4px;
}

#font {
 color: white;
}
#main-background{
width: 800px;
margin: auto;
padding-bottom: 20px;
border-radius: 25px;
 background:#7f7f7f ;
 background:rgba(0,0,0,0.5);


#mainContent{
 color: white;
 text-align: left;
 width: 600px;
 font-family: sans-serif;
 margin: auto;
 padding-top: 200px;

 h1 {
   text-align: center;
   font-size: 45px;
 }
 input[type="text"], input[type="submit"], input[type="number"], input[type="password"], textarea {
   background: #d1d1d1 ;
   color: #000000 ;
 }

 img {
   margin-left: 20px;
   margin-top: 20px;
   border-radius: 25px;
 }
}
}
img {

 #cart_image {
   right: right;
 }

}
#checkout_table2 {
 border: 5px solid black;
 width: 90%;
 color: white;
 tr td {
   border: 5px solid black;
 }
}

body {
 display: compact;
 color: white;
}
#background {
   width: 100%;
   height: 100%;
   position: fixed;
   left: 0px;
   top: 0px;
   z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
   width:100%;
   height:100%;
}

#font {
 color: white;
}

.thumbnail{
 height: 450px;
 width: 100%;

.menu_cart_img {
 margin-left: 20px;
 margin-top: 10px;
 border-radius: 25px;
 margin-bottom: -2px;
 width: 80%;
 height: 160px;
}

.btn {
 color: white;
 background-color: green;
}

.caption {
 min-height: 183px;
 overflow: none;
 max-height: 184px;
 // border: 5px solid black;
}

.item_description {
 // height: 4.0em;
 overflow: none;
 max-height: 95px;
 min-height: 41px;
 }

}

#menuContent {
 padding-top: 150px;
 width: 90%;
 margin: auto;

}


#main-header {
 position: fixed;
 width: 100%;
 z-index: 2;

}

.contact-us-form {
 margin-top: 40px;
 width: 450px;
 margin: auto;


}

.contact-us-form-line {
 margin-top: 10px;
 text-align: center;
 input {
   background-color : #d1d1d1 ;
   color: black;
   text-align: left;
   margin-left: 10px;
   font-size: 20px;
   width: 275px;
 }
 label {
   font-size: 20px;
   min-width: 125px;
   vertical-align: top;
 }

 #form-message {
   width: 275px;
   height: 100px;
   margin-left: 10px;
 }
}

#form-message-btn {
 width: 15%;
 margin: auto;
 border: 1px solid black;
}

#checkout_page {
 color: white;
}


#item_status {
 color: black;
}

.field_with_errors {
 padding: 1px;
 background-color: red;
 display: table;
}

#checkout-cart-header {
  text-align: left !important;
}

#pickup_btn {
  display: inline;
  margin-right: 50px;
}
.pickup-delivery-button {
  display: inline;
}

#confirmation-options {
  width:95%;
  margin:auto;
  text-align: center;
  margin-bottom: 150px;
}



#new_address {
  width:95%;
  margin:auto;
}

#addresses {
  background-color: #D8D8D8;
  color: black;
  width: 25%;
  margin: 100px 15px;
  padding:15px;
  border-radius: 15px;
  display: inline;

}

.address_buttons{
  margin: 15px;
  font-size: 20px;
  min-height: 50px;
}



#store-name{
margin-right: 157px;
}

#email_order_box{
  border-top: 1px solid black;
}
