.login_form{
  label{
   min-width: 100px;
 }
}
.tg  {
     width: 100%;
     border-collapse:collapse;
     border-spacing:0;
     border-color:#999;
     border-width:1px;
     border-style:solid;

     td{
       font-family:Arial,sans-serif;
       font-size:14px;
       padding:5px 19px;
       border-style:solid;
       border-width:0px;
       overflow:hidden;
       word-break:normal;
       border-color:#999;
       color:#444;
       background-color:#F7FDFA ;
       }

     th{
       font-family:Arial, sans-serif;
       font-size:14px;
       font-weight:normal;
       padding:19px 19px;
       border-style:solid;
       border-width:0px;
       overflow:hidden;
       word-break:normal;
       border-color:#999;
       color:#fff;
       background-color:#428bca ;
       }

     .tg-0ord{
       text-align:right;
       }

     .tg-e3zv{
       font-weight:bold;
       }

     .tg .tg-34fq{
       font-weight:bold;
       text-align:right;
       }

     .tg-031e{
       text-align:left;

     }
}

.select {
  color: black;
}

.flashes {
 color: blue;
 // border-radius: 4px;
 // padding: 10px;
 margin: 0;
 text-align: center;
 text-transform: uppercase;
 box-shadow: #ffc 0 0 4px;
}

body {
 background-image: url("mountain.jpg");
 background-size: 1440px 800px;
 display: compact;

 h1 {
   color: white;
 }
}

#font {
 color: white;
}
#main-background{
width: 800px;
margin: auto;
padding-bottom: 20px;
border-radius: 25px;
 background:#7f7f7f ;
 background:rgba(0,0,0,0.5);


#mainContent{
 color: white;
 text-align: left;
 width: 600px;
 font-family: sans-serif;
 margin: auto;
 padding-top: 200px;

 h1 {
   text-align: center;
   font-size: 45px;
 }
 input[type="text"], input[type="submit"], input[type="number"], textarea {
   background: #d1d1d1 ;
   color: #000000 ;
 }

 img {
   margin-left: 20px;
   margin-top: 20px;
   border-radius: 25px;
 }
}
}
img {

 #cart_image {
   right: right;
 }

}
#checkout_table2 {
 border: 5px solid black;
 width: 90%;
 color: white;
 tr td {
   border: 5px solid black;
 }
}

body {
 display: compact;
 color: white;
}
#background {
   width: 100%;
   height: 100%;
   position: fixed;
   left: 0px;
   top: 0px;
   z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
   width:100%;
   height:100%;
}

#font {
 color: white;
}

.thumbnail{
 height: 360px;
 width: 100%;


.menu_cart_img {
 margin-left: 20px;
 margin-top: 10px;
 border-radius: 25px;
 margin-bottom: -2px;
 width: 80%;
 height: 160px;
}

.btn {
 color: white;
 background-color: green;
}

.caption {
 min-height: 150px;
 overflow: none;
 // border: 5px solid black;
}

.item_description {
 height: 4.0em;
 overflow: none;
 // border: 5px solid black;
}

}

#menuContent {
 padding-top: 150px;
 width: 90%;
 margin: auto;

 h2 {
   color: white;
 }
}


#main-header {
 position: fixed;
 width: 100%;
 z-index: 2;

}

.contact-us-form {
 margin-top: 40px;
 width: 450px;
 margin: auto;


}

.contact-us-form-line {
 margin-top: 10px;
 text-align: center;
 input {
   background-color : #d1d1d1 ;
   color: black;
   text-align: left;
   margin-left: 10px;
   font-size: 20px;
   width: 275px;
 }
 label {
   font-size: 20px;
   min-width: 125px;
   vertical-align: top;
 }

 #form-message {
   width: 275px;
   height: 100px;
   margin-left: 10px;
 }
}

#form-message-btn {
 width: 15%;
 margin: auto;
 border: 1px solid black;
}

#checkout_page {
 color: white;
}


#item_status {
 color: black;
}

.field_with_errors {
 padding: 1px;
 background-color: red;
 display: table;
}

#checkout-cart-header {
  text-align: left !important;
}

#pickup_btn {
  display: inline;
  margin-right: 50px;
}
.pickup-delivery-button {
  display: inline;
}
